.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}